* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
}
/* html,
body {
  width: 100%;
  height: 100%;
} */

:root {
  --bg-primary-color: #fefefe;
  --bg-secondary-color: #f8f7fe;

  --section-padding: 0 100px;
  --section-gap: 50px;

  --gradient-color-1: #920f76;
  --gradient-color-2: #e65477;

  --special-color: #751a91;

  --text-primary-color: #151925;
  --text-secondary-color: #717c94;

  --gradient: linear-gradient(
    to right,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
}

/* common component */

.btn {
  width: fit-content;
  padding: 8px 16px;
  background-color: #524cea;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #423ce7;
}

.btn:active {
  background-color: #423ce7;
  transform: scale(0.97);
}

.section-heading {
  width: fit-content;
  padding: 10px 0;
  text-align: center;
  margin: 30px auto;
  position: relative;
}

.section-heading::before {
  content: '';
  height: 5px;
  width: 100px;
  background-image: var(--gradient);

  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.section-heading .section-title {
  font-weight: 600;
  color: var(--text-primary-color);
}

.section-heading .section-sub-title {
  margin-top: 10px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: 500;
  margin-right: 20px;
}

.gradient-text {
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
}

.secondary-text {
  color: var(--text-secondary-color);
}

section,
header,
footer {
  margin-top: 20px;
  padding: var(--section-padding);
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 15px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

header .logo img {
  height: 30px;
}

header .btn {
  background-image: linear-gradient(45deg, #5b0084, #705af2);
}

/* #hero-section */

#hero-section {
  display: flex;
  align-items: center;
  height: 80vh;
}

#hero-section > img {
  width: 40%;
}

#hero-section .content {
  max-width: 50%;
}

#hero-section .content h2 {
  max-width: 78%;
  font-size: 48px;
  font-weight: 300;
  color: var(--text-primary-color);
}

#hero-section .content h2 span {
  font-weight: 800;
}

#hero-section .content h2 span:nth-child(1),
#hero-section .content h2 span:nth-child(3) {
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
}

#hero-section .content p {
  margin-top: 20px;
  max-width: 78%;
  line-height: 30px;
}

#hero-section .content .btn {
  margin-top: 40px;
}

/* #services-section */

#services-section {
  border-top: 1px solid #e5d6eb;
  border-bottom: 1px solid #e5d6eb;
  padding: 30px 0;
  background-color: var(--bg-secondary-color);
}

#services-section .section-title {
  width: fit-content;
  margin: 0 auto;
  color: var(--text-primary-color);
}
#services-section .services-cards {
  margin-top: 30px;
  display: flex;
  width: 100%;
  overflow: auto;
  justify-content: center;
  gap: 30px;
  padding-bottom: 30px;

  scrollbar-width: none;
}

#services-section .services-cards .service-card {
  min-width: 300px;
  max-width: 350px;
  border: 1px solid var(--special-color);
  padding: 40px 15px;
  border-radius: 8px;

  transition: all 300ms;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#services-section .services-cards .service-card:hover {
  transform: translateY(20px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#services-section .services-cards .service-card img {
  border-radius: 50%;
  padding: 8px;
  border: 1px solid var(--special-color);
}
#services-section .services-cards .service-card h3 {
  margin: 8px 0;
}

/* #trust-section */

#trust-section {
}

#trust-section .content {
  max-width: 50%;
}
#trust-section .content .section-heading {
  margin-left: 0;
  font-size: 36px;
  text-align: start;
}

#trust-section .content .section-heading::before {
  left: 0;
  transform: none;
}

#trust-section .content .section-heading .section-title {
  font-size: inherit;
}
