* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
}
/* html,
body {
  width: 100%;
  height: 100%;
} */

:root {
  --bg-primary-color: #fefefe;
  --bg-secondary-color: #f8f7fe;

  --section-padding: 0 100px;
  --section-gap: 50px;

  --gradient-color-1: #920f76;
  --gradient-color-2: #e65477;

  --special-color: #751a91;

  --text-primary-color: #151925;
  --text-secondary-color: #717c94;

  --gradient: linear-gradient(
    to right,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
}

/* common component */

.btn {
  width: fit-content;
  padding: 8px 16px;
  background-color: #524cea;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #423ce7;
}

.btn:active {
  background-color: #423ce7;
  transform: scale(0.97);
}

.section-heading {
  width: fit-content;
  padding: 10px 0;
  text-align: center;
  margin: 30px auto;
  position: relative;
}

.section-heading::before {
  content: '';
  height: 5px;
  width: 100px;
  background-image: var(--gradient);

  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.section-heading .section-title {
  font-weight: 600;
  color: var(--text-primary-color);
}

.section-heading .section-sub-title {
  margin-top: 10px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: 500;
  margin-right: 20px;
}

.gradient-text {
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
}

.secondary-text {
  color: var(--text-secondary-color);
}

.primary-text {
  color: var(--text-primary-color);
}

section,
header,
footer {
  margin-top: 20px;
  padding: var(--section-padding);
}

section {
  margin-top: 50px;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-bottom: 15px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

header .logo img {
  height: 30px;
}

header .btn {
  background-image: linear-gradient(45deg, #5b0084, #705af2);
}

/* #hero-section */

#hero-section {
  display: flex;
  align-items: center;
  height: 80vh;
}

#hero-section > img {
  width: 40%;
}

#hero-section .content {
  max-width: 50%;
}

#hero-section .content h2 {
  max-width: 78%;
  font-size: 48px;
  font-weight: 300;
  color: var(--text-primary-color);
}

#hero-section .content h2 span {
  font-weight: 800;
}

#hero-section .content h2 span:nth-child(1),
#hero-section .content h2 span:nth-child(3) {
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
}

#hero-section .content p {
  margin-top: 20px;
  max-width: 78%;
  line-height: 30px;
}

#hero-section .content .btn {
  margin-top: 40px;
}

/* #services-section */

#services-section,
#partners-section .partners-list {
  border-top: 1px solid #e5d6eb;
  border-bottom: 1px solid #e5d6eb;
  padding: 30px 0;
  overflow: auto;
  background-color: var(ondary-color);
}

#services-section .section-title {
  width: fit-content;
  margin: 0 auto;
  color: var(--text-primary-color);
}
#services-section .services-cards {
  margin-top: 30px;
  display: flex;
  width: 100%;
  overflow: auto;
  justify-content: center;
  gap: 30px;
  padding-bottom: 30px;

  scrollbar-width: none;
}

#services-section .services-cards .service-card {
  min-width: 300px;
  max-width: 350px;
  border: 1px solid var(--special-color);
  padding: 40px 15px;
  border-radius: 8px;

  transition: all 300ms;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#services-section .services-cards .service-card:hover {
  transform: translateY(20px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#services-section .services-cards .service-card img {
  border-radius: 50%;
  padding: 8px;
  border: 1px solid var(--special-color);
}
#services-section .services-cards .service-card h3 {
  margin: 8px 0;
}

/* #trust-section */

#trust-section {
  padding-top: 30px;
  display: flex;
  align-items: center;
}

#trust-section .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 50%;
}
#trust-section .content .section-heading,
#partners-section .section-heading {
  margin-left: 0;
  font-size: 36px;
  text-align: start;
}

#trust-section .content .section-heading::before,
#partners-section .section-heading::before {
  left: 0;
  transform: none;
}

#trust-section .content .section-heading .section-title,
#partners-section .section-title {
  font-size: inherit;
}

#trust-section .content .secondary-text {
  width: 80%;
  line-height: 30px;
}

#trust-section .content > span {
  display: block;
  margin-top: 20px;
  color: var(--special-color);
}

#trust-section .content > span i {
  font-size: 16px;
}

#trust-section .img-wrapper {
  width: fit-content;
  position: relative;
}

#trust-section .play-btn {
  height: 100%;
  width: 100%;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  cursor: pointer;
  transition: all 300ms;
}
#trust-section .play-btn:active {
  scale: 0.9;
}

#trust-section .play-btn::before {
  content: '';
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.547);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  transition: all 300ms;
}

#trust-section .img-wrapper:hover .play-btn::before {
  height: 80px;
  width: 80px;
}

#trust-section .play-btn i {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--special-color);
  font-size: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

/* #partners-section */

#partners-section {
  padding: 0;
}

#partners-section .section-heading {
  padding: var(--section-padding);
  padding-top: 10px;
}

#partners-section .section-heading::before {
  transform: none;
  left: 100px;
}
#partners-section .partners-list {
  max-width: 100%;
  display: flex;
  flex-wrap: none;
  overflow: auto;

  scrollbar-width: none;
}

/* #testimonials-section */

#testimonials-section {
}

#testimonials-section .section-heading {
  font-size: 24px;
}
#testimonials-section .testimonials-list .review {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

#testimonials-section .testimonials-list .reviewers {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

#testimonials-section .testimonials-list .reviewers .reviewer {
  text-align: center;
  color: var(--text-primary-color);
}

#testimonials-section .testimonials-list .reviewers .reviewer .stars {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#testimonials-section .testimonials-list .reviewers .reviewer .stars i {
  margin-left: 10px;
  color: #f9e33a;
  font-size: 24px;

  transition: all 600ms;
}
#testimonials-section
  .testimonials-list
  .reviewers
  .reviewer:nth-child(3):hover
  .stars
  i {
  transform: translateY(-10px) perspective(400px) rotateY(180deg);
}
#testimonials-section .testimonials-list .reviewers > :not(:nth-child(3)) {
  opacity: 0.5;
}

/* #case-studies-section */

#case-studies-section {
}

#case-studies-section .section-heading {
  font-size: 24px;
}

#case-studies-section .case-studies .case-study {
  display: flex;
  margin-top: 50px;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  background-color: var(--bg-secondary-color);
  border: 1px solid #e5d6eb;
}

#case-studies-section .case-studies .case-study:nth-child(2) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 48px;
  border-bottom-left-radius: 48px;
}

#case-studies-section .case-studies .case-study img {
  height: 350px;
}

#case-studies-section .case-studies .case-study .wrapper {
  padding: 10px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#case-studies-section .case-studies .case-study .wrapper p {
  line-height: 25px;
  text-align: justify;
}

#case-studies-section .case-studies .case-study .wrapper span {
  text-align: end;
  /* align-self: flex-end; */
  font-weight: 600;
}

/* #dev-approach-section */

#dev-approach-section {
}

#dev-approach-section .section-heading {
  font-size: 24px;
}
#dev-approach-section .approach-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#dev-approach-section .approach-cards .approach-card {
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--bg-secondary-color);
  border: 1px solid #e5d6eb;
  max-width: 45%;
  min-width: 400px;

  transition: all 300ms;
}

#dev-approach-section .approach-cards .approach-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

#dev-approach-section .approach-cards .approach-card h5 {
  margin-top: 5px;
  font-weight: 400;
}

#dev-approach-section .img-wrapper {
  height: 60px;
  width: 60px;
  padding: 10px;
  border-radius: 12px;
  background-color: #2b2b31;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* #tech-stack-section */

#tech-stack-section {
}

#tech-stack-section .section-heading {
  font-size: 24px;
}

#tech-stack-section .stacks {
  display: flex;
  justify-content: center;
  gap: 30px;
}
#tech-stack-section .stacks li {
  list-style: none;
  font-weight: 600;
  position: relative;
}

#tech-stack-section .stacks li::before {
  content: '';
  width: 0;
  height: 3px;
  background-image: var(--gradient);
  border-radius: 8px;

  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;

  transition: all 300ms;
}

#tech-stack-section .stacks li:hover {
  background-image: var(--gradient);
  background-clip: text;
  color: transparent;
}
#tech-stack-section .stacks li:nth-child(1)::before {
  width: 100%;
}

#tech-stack-section .stacks li:hover::before {
  width: 100%;
}

#tech-stack-section .tools {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 80px;
  justify-content: center;
}

#tech-stack-section .tools img {
  filter: grayscale();
}
#tech-stack-section .tools img:hover {
  filter: grayscale(0%);
}

/* #featured-section */
#featured-section {
  padding: 0;
}

#featured-section .section-heading {
  font-size: 24px;
}

#featured-section .feature-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  overflow-y: visible;
  scrollbar-width: none;
  gap: 80px;
}

#featured-section .feature-cards .feature-card {
  max-width: 300px;
  min-width: 250px;
  transition: all 300ms;
}

#featured-section .feature-cards .feature-card img {
  width: 100%;
}

#featured-section .feature-cards .feature-card .content {
  padding: 10px;
  margin-top: 20px;
}
#featured-section .feature-cards .feature-card h4 {
  line-height: 25px;
}

#featured-section .feature-cards .feature-card span {
  margin-top: 5px;
  display: block;
  text-align: end;
  color: var(--special-color);
  font-weight: 600;
}

#featured-section .feature-cards .feature-card:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* #cta-section */

#cta-section {
  margin: 80px 100px;
  padding: 80px 50px;
  background-color: var(--bg-secondary-color);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cta-section h2 {
  font-size: 32px;
  width: 45%;
}

#cta-section a {
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 15px 40px;
  background-image: linear-gradient(45deg, #ed6862, #f9c553);
  border-radius: 4px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  padding: var(--section-padding);
}

footer .footer-top {
  display: flex;
  /* justify-content: space-between; */
  gap: 100px;
  padding: 20px;
}
footer .footer-top .site-info img:nth-child(1) {
  height: 30px;
}

footer .footer-top .site-info p {
  max-width: 350px;
  margin: 20px 0;
}

footer .footer-top .quick-links li {
  list-style: none;
  margin-top: 10px;
}
footer .footer-top .quick-links h3 {
  margin-bottom: 20px;
}

footer .footer-top .contact {
  width: 400px;
}

footer .footer-top .contact p {
  margin-top: 20px;
  max-width: 350px;
  line-height: 24px;
}

footer .footer-top .contact .social-icons {
  display: flex;
  justify-content: end;
  margin-top: 50px;
  gap: 20px;
}

footer .footer-top .contact .social-icons .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 5px 5px 5px rgba(214, 214, 214, 0.137);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
}

footer .footer-bottom {
  border-top: 1px solid #e5d6eb;
  padding: 30px 0;
  text-align: center;
}
